﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $('#addBtn').on('click', function () {

            $.post("/api/service/addtodo", {
                Name: $('#todotext').val(),
                Complate: true
            }, function (data) {
                console.log(data)
                if (data) {
                    var checked = data.complate ? 'checked' : '';
                    $('#todolist').append('<li data-id="' + data.id + '">' + data.name + ' <input type="checkbox" ' + checked + ' /> </li>')
                    $('#todotext').val('');
                }
                })
        }
        )


        $('#getBtn').on('click', function () {

            $.get("/api/service/getall",function (data) {
                if (data) {
                    console.log(data)
                    $('#todolist').html('');
                    $.each(data, function (i,item) {
                        console.log(item)
                        var checked = item.complate ? 'checked' : '';

                        $('#todolist').append('<li data-id="' + item.id + '">' + item.name + ' <input type="checkbox" ' + checked + ' /> </li>')

                    })

                }
            })
        }
        )
    })
</script>
<div class="text-center">
    <div class="form-group">
        <h1>To-Do <small>List</small></h1>
        <input type="text" class="form-control" placeholder="Your Task" id="todotext">
        <button type="button" class="btn btn btn-primary" id="addBtn">Add</button>
        <button type="button" class="btn btn btn-primary" id="getBtn">GetAll</button>
    </div>
    <div></div>
    <ul id="todolist"></ul>
</div>
